<div class="main">
  <div class="ryu">
    <div class="ryu-still"></div>
    <div class="ryu-ready"></div>
    <div class="ryu-throwing"></div>
  </div>
</div>

<div class="main1">
	<div class="justin">
		<h1>hello there.</h1>
	</div>
</div>