body {
  background-color: #1e1e1e;
}

.ryu {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
}

.ryu-ready, .ryu-still, .ryu-throwing {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing {
  display: none;
}

.ryu-ready {
  background-image: url("../images/ryu-ready-position.gif.webloc");
}

.ryu-still {
  background-image: url("../images/ryu-stand-still.png");
  display: none;
}

.ryu-throwing {
  background-image: url("../images/ryu-throwing-hadouken.png.webloc");
  display: block;
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
  background-repeat: no-repeat;
}

.hadouken {
  background-image: url("../images/hadouken.gif");
  width: 156px;
  height: 90px;
  display: none;
  position: relative;
  top: 0px;
  left: 0px;
  float: left;
}
